:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.err{
  .err-msg{
    font-size: small;
    color: red;
  }
}

.form-valid{
  display: none;
}
.form-invalid{
  display: block;
}